body {
    background-color: steelblue;
    padding: 40px;
    color: white;
    font-size: 40px;
}

h1 {
    
    background-color: gray;
}

ul {
    align-content:center;
    list-style-type: none; /*Gets rid of bullet points*/
    padding: 2px;
    margin: 0;
    overflow:hidden;
}

li a {
    /*targets the list items, li is for list item, a is for hyperlink*/
    background-color: white;
    text-align: center;
    color: black;
    padding: 5px 5px; /*keeps things in proportion to font being used*/
    display: block; /*treats them as block elements not in line so they don't overlap*/
    text-decoration: none; /*no underline*/
    text-transform: uppercase;
    margin: 2px;
    border-radius: 20px; /*rounds corners*/
}
#name{
    color:deepskyblue;
}
#purp{
    text-align:left;
    color:wheat;
    font-size:40px;
}
#info {
    text-align: left;
    color: wheat;
    font-size: 40px;
}
#paragraph{
    text-align:left;
    color: white;
}
li a:hover{
    background-color:lightgray;
    zoom: 110%;
}
#pc {
    text-align: left;
    color: white;
}
img{
    float: right;
    width: 25%;
}
.indexBody {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
