body {
    background-image: url("https://www.publicdomainpictures.net/pictures/20000/nahled/white-and-gray-background.jpg");
    background-size: 100%;
    padding: 40px;
    color: white;
    font-size: 40px;
}
header{
    background-color: steelblue;
}


ul{

    list-style-type: none; /*Gets rid of bullet points*/
    padding: 0;
    margin: 5px;
    overflow:hidden;
    align-content:center;
}

li a {
    /*targets the list items, li is for list item, a is for hyperlink*/
    background-color: wheat;
    text-align: center;
    color: black;
    padding: 10px;
    display: block; /*treats them as block elements not in line so they don't overlap*/
    text-decoration: none; /*no underline*/
    text-transform: uppercase;
    margin:4px;
    border-radius: 20px; /*rounds corners*/
}
#name{
    color:deepskyblue;
}

#info {
    text-align: left;
    background-color: cadetblue;
    font-size:40px;
    border-color:darkblue;
    margin:5px;
    padding: 5px;
    color: wheat;
    border-radius:5px;

}
#paragraph{
    text-align:left;
    color: white;
    background-color: antiquewhite;
    color: black;
    font-size:30px;
    border-radius:5px;
}
li a:hover{
    background-color:skyblue;
    zoom: 110%;
}

img{
    float: right;
    width: 25%;
}

li{
    float: left;
}
.pageLabel{
    background-color:steelblue;
}

.list{
    list-style-type:circle;
}
