body {
    background-color: steelblue;
    padding: 40px;
    color: white;
    font-size: 40px;
}

h1 {
    
    background-color: gray;
}

ul {
    align-content:center;
    list-style-type: none; /*Gets rid of bullet points*/
    padding: 2px;
    margin: 0;
}

li a {
    /*targets the list items, li is for list item, a is for hyperlink*/
    background-color: white;
    color: black;
    padding: 5px 5px; /*keeps things in proportion to font being used*/
    display: block; /*treats them as block elements not in line so they don't overlap*/
    text-decoration: none; /*no underline*/
    text-transform: uppercase;
    margin: 2px;
    border-radius: 20px; /*rounds corners*/
}
